<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.scnu.baseinfo.mapper.AppMapper">
  <resultMap id="BaseResultMap" type="com.edu.scnu.baseinfo.bean.App">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="manager_mobile" jdbcType="VARCHAR" property="managerMobile" />
    <result column="domain" jdbcType="VARCHAR" property="domain" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <trim prefix="(" prefixOverrides="and" suffix=")">
        <foreach collection="criteria.critertions" item="criterion">
          <choose>
            <when test="criterion.noValue">
              and ${criterion.fieldName} ${criterion.operation}
            </when>
            <when test="criterion.betweenValue">
              and ${criterion.fieldName} ${criterion.operation} #{criterion.value} and #{criterion.secondValue}
            </when>
            <when test="criterion.listValue">
              and ${criterion.fieldName} ${criterion.operation}
              <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                #{listItem}
              </foreach>
            </when>
            <otherwise>
              and ${criterion.fieldName} ${criterion.operation} #{criterion.value}
            </otherwise>
          </choose>
        </foreach>
      </trim>
    </where>
  </sql>

  <sql id="Select_Column_List">
    <if test="selectClauses != null">
      <foreach collection="selectClauses" item="selected" separator=",">
        <if test="selected.isDistinct">
          distinct
        </if>
        ${selected.fieldName}
      </foreach>
    </if>
  </sql>

  <sql id="Order_Column_List">
      <foreach collection="orderClauses" item="orderByClause" separator=",">
        ${orderByClause.fieldName}
        <if test="orderByClause.isDesc">
          desc
        </if>
      </foreach>
  </sql>

  <select id="selectByExample" parameterType="com.edu.scnu.common.query.QueryBuilder" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <include refid="Select_Column_List" />
    from idnt_app
    <if test="_parameter != null">
      <include refid="Where_Clause" />
    </if>
    <if test="orderClauses != null">
      order by <include refid="Order_Column_List" />
    </if>
    <if test="limitClause != null">
      limit #{limitClause.beginNum}, #{limitClause.fetchNum}
    </if>
  </select>

  <delete id="deleteByExample" parameterType="com.edu.scnu.common.query.QueryBuilder">
    <!--
      WARNING - @mbg.generated
    -->
    delete from idnt_app
    <if test="_parameter != null">
      <include refid="Where_Clause" />
    </if>
  </delete>
  <select id="countByExample" parameterType="com.edu.scnu.common.query.QueryBuilder" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from idnt_app
    <if test="_parameter != null">
      <include refid="Where_Clause" />
    </if>
  </select>

</mapper>